<template>
  <div class="modal modal-blur fade" tabindex="-1" :id="props.id">
    <div class="modal-dialog modal-sm modal-dialog-centered" :class="props.class" role="document"
         :style="{'max-width': props.maxWidth}">
      <div class="modal-content">
        <div v-if="!props.noHeader" class="modal-header">
          <h5 class="modal-title">{{ props.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click.prevent="cancelEvent" />
        </div>
        <template v-if="show">
          <div class="modal-body">
            {{ props.text }}
            <slot />
          </div>

          <div v-if="!props.noFooter" class="modal-footer">
            <button class="btn me-auto" data-bs-dismiss="modal" aria-label="Close" ref="close" @click.prevent="cancelEvent">
              Отмена
            </button>

            <button class="btn ml-2" @click.prevent="confirmEvent" :class="confirmClasses" :disabled="props.confirmDisabled">
              <span v-if="props.confirmButton">{{ props.confirmButton }}</span>
              <span v-else>Продолжить</span>
            </button>
          </div>
        </template>
        <slot name="modal-body" />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { computed, ref, watch } from "vue";
const props = defineProps([
    "title",
    "id",
    "class",
    "text",
    "confirmButton",
    "confirmClass",
    "noAutoClose",
    "noHeader",
    "noFooter",
    'closed',
    'maxWidth',
    'confirmDisabled'
]);
const emit = defineEmits(["confirm", "cancel"]);
const confirmClasses = computed((): string => props.confirmClass ?? "btn-primary");

const show = computed(() => props.text === '' ? true : !!props.text )

const root = ref();
const close = ref();
const confirmEvent = () : void => {
  emit('confirm')
  if (!props.noAutoClose)
    close.value.click();
}
const cancelEvent = () : void => {
  emit('cancel');
}
watch(
    () => props.closed,
    () => {
      close.value.click();
    },
    { deep: true }
);
</script>
