<template>
  <div v-bind="getRootProps()" class="dropzone dz-clickable">
    <input v-bind="getInputProps()" />
    <div class="dz-message"  v-if="!file">
      <h3 class="dropzone-msg-title">Выберите файл для загрузки</h3>
      <div class="dropzone-msg-desc">Допускается файл формата {{ props.format }}</div>
      <div class="dropzone-msg-desc" v-if="props.max_value">
        Максимальный размер файла <b>{{ maxFileSize.human }}</b>
      </div>
    </div>
    <div v-else class="d-flex justify-content-center">
      <div class="dz-file-preview dz-preview dz-processing dz-error dz-complete">
        <div class="dz-image">
          <img data-dz-thumbnail="">
        </div>
        <div class="badge bg-danger badge-notification badge-pill remove_image cursor-pointer z-21" @click.prevent="deleteFile">
          <trash-icon />
        </div>
        <div class="dz-details">
          <div class="dz-size">
            <span data-dz-size="">
              <b>{{ fileSize(file) }}</b>
              {{ maxFileSize.human }}
            </span>
          </div>
          <div class="dz-filename">
            <span data-dz-name="">{{ file.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, toRefs } from "vue";
import { useDropzone } from "vue3-dropzone";
import { TrashIcon } from "vue-tabler-icons";
import {FileSize} from "../../composables/types";
import {getHumanFileSize} from "../../composables/fileHelper";

const props = defineProps(["file", "errors", "format", "max_value"]);
const { file } = toRefs(props)
const emit = defineEmits(['upload', 'delete']);

const onDrop = (acceptFiles: File[]): void => {
  if (!acceptFiles.length) return;
  emit('upload', acceptFiles[0]);
}
const deleteFile = (): void => {
  if (!file) return;
  emit('delete');
}
const { getRootProps, getInputProps, open } = useDropzone({ onDrop });

const maxFileSize = computed(() => getHumanFileSize(props.max_value));
const fileSize = (file?: { size?: number }): FileSize => getHumanFileSize(String(file?.size ?? 0))
</script>
<style scoped>
.z-21 {
  z-index: 21;
}
.dropzone {
  border: 1px dashed var(--tblr-border-color);
  color: var(--tblr-muted);
  padding: 1rem;
}
</style>
