<template>
  <confirm-modal
      id="modal-export"
      :title="props.title"
      :no-footer="true"
      max-width="600px"
  >
    <template v-slot:modal-body>
      <div class="card border-0 pa-0">
        <div class="modal-body">
          <div class="col-6">
            <label class="form-label">Наименование файла экспорта</label>
            <input-field
                type="text"
                name="fileName"
                v-model="fileName"
                placeholder="Введите название"
                :max="255"
            />
          </div>

          <label class="form-check m-3 ms-0">
            <input type="checkbox" v-model="exportDateTimeAuthor" class="form-check-input"/>
            <span class="form-check-label">Вывести дату, время и автора экспорта</span>
          </label>
          <hr class="mt-0 mb-3">

          <label class="form-check">
            <input type="checkbox" v-model="checkAll" class="form-check-input"/>
            <span class="form-check-label fw-bold">Выбрать все поля</span>
          </label>

          <div class="d-inline-block">
            <label v-for="(item, index) in fieldNames" :key="'table_row_item' + index" class="form-check col-6 d-inline-block">
              <input type="checkbox" v-model="item.value" class="form-check-input"/>
              <span class="form-check-label">{{ item.label }}</span>
            </label>
          </div>

        </div>
        <div class="card-footer d-flex">
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" ref="close">
            Отмена
          </button>
          <div class="ml-auto">
            <button :disabled="fields.length === 0" class="btn btn-primary align-items-end ml-2" @click="sendExport">
              Запустить экспорт
            </button>
          </div>
        </div>
      </div>
    </template>
  </confirm-modal>
</template>
<script setup lang="ts">
import {computed, ref, watch} from "vue";
import {InputField, ConfirmModal} from "./index";

const props = defineProps(["title", "store", "fields"]);
const emit = defineEmits(["send"]);

const checkAll = ref(true);
const exportDateTimeAuthor = ref(true);
const fileName = ref('');
const storeType = computed(() => props.store);
const fieldNames = computed((): Array<Record<string, string>> => storeType.value.fieldList ? storeType.value.getExportFields : props?.fields);

const fields = computed((): string[] => {
  let fieldsArray = [] as string[];
  fieldNames.value?.map(item => {
    item.value ? fieldsArray.push(item.field) : undefined;
  })
  return fieldsArray;
});

const sendExport = (): void => {
  storeType.value.exportOptions._export = 1;
  storeType.value.exportOptions.fields = fields.value;
  storeType.value.exportOptions.exportDateTimeAuthor = exportDateTimeAuthor.value ? 1 : 0;
  storeType.value.exportOptions.fileName = fileName.value;
  storeType.value.loaded = false;
  emit('send', true);
};

watch(
    () => checkAll.value,
    async () => {
      fieldNames.value.map((item: Record<string, string | boolean>) => {
        item.value = checkAll.value;
      });
    }
);
</script>