<template>
  <label :for="'input-'+props.name" v-if="props.label" class="form-label">{{ props.label }}</label>
  <div class="position-relative">
    <input
        :type="props.showPass ? 'text' : props.type"
        v-model="model"
        :name="props.name"
        :id="'input-'+props.name"
        :disabled="props.disabled"
        class="form-control"
        autocomplete="off"
        :placeholder="props.placeholder"
        :class="{ 'is-invalid': hasError }"
        :required="props.required"
        ref="root"
        :min="props.min"
        :max="props.max"
        @change="emit('change')"
        @focus="emit('focus')"
        @keyup="emit('keyup')"
        @click="emitOnClick()"
    />
    <input-sub-text
        :max-text="props.maxText"
        :has-error="!!hasError"
        :error="error"
        :input-value="model"
        @update-value="model = $event"
    />
    <slot />
    <span
        v-if="props.showClose || hasError"
        class="close"
        :class="{'visibleBtn': isVisibleBtn, ' calendar': props.calendar, ' closeTop': props.closeTop}"
        role="button"
    >
      <a @click="clear" type="button" class="btn-close" :class="{'error': hasError}" aria-label="clear"/>
    </span>
  </div>
</template>

<script setup lang="ts">
import {computed, ref} from "vue";
import InputSubText from "../utility/InputSubText.vue";
import useFieldForm from "../../composables/useFieldForm";

const props = defineProps([
  "name",
  "calendar",
  "modelValue",
  "errors",
  "type",
  "disabled",
  "placeholder",
  "showClose",
  "showPass",
  "closeTop",
  "required",
  "min",
  "max",
  "maxText",
  "label"
]);
const emit = defineEmits(['update:modelValue', 'click', 'clear', 'change', 'focus', 'keyup'])
const {model, hasError, error} = useFieldForm(props, emit);

const isVisibleBtn = computed(() => props.showPass !== undefined);

const clear = (() => {
  model.value = '';
  emit('clear', true)
})

const emitOnClick = ((sendElement = true) => {
  const element = sendElement ? root.value : undefined;
  emit('click', element)
})

const root = ref();
defineExpose({
  root
})
</script>
<style lang="scss" scoped>
@import "src/assets/index.scss";

.form-control {
  &.is-invalid {
    background-image: none;
  }
}
</style>
