<template>
  <div class="masked_value" :class="{'price': props.isPrice, ' invalid': hasError }">
    <span
        v-if="props.showClose || hasError"
        class="close"
        :class="{'visibleBtn': props.visibleBtn}"
        role="button"
    >
      <a @click="clear" type="button" class="btn-close" :class="{'error': hasError}" aria-label="clear" />
    </span>
    <input
        v-model="model"
        :name="props.name"
        :type="props.type || 'text'"
        :disabled="props.disabled"
        class="form-control"
        autocomplete="off"
        :placeholder="placeholder"
        :class="{ 'is-invalid': hasError, 'is-warning': model < 0 }"
        :required="props.required"
        ref="maskMeterValue"
        @keyup="emit('change')"
        @focus="emit('focus')"
    />
    <span class="text-red text-wrap" v-if="hasError">
      {{ error }}
    </span>
  </div>
</template>
<script setup lang="ts">
import IMask from "imask";
import { computed, ref, watch, onMounted, nextTick } from "vue";
import { getMaxValue } from "../../composables/stringHelper";
import useFieldForm from "../../composables/useFieldForm";

const props = defineProps(
    [
      "name",
      "modelValue",
      "errors",
      "precision",
      "delimiter",
      "separator",
      "digits",
      "disabled",
      "required",
      "isPrice",
      "showClose",
      "visibleBtn",
      "placeholderProps",
      "widthProps",
      "type",
    ]);
const emit = defineEmits(['update:modelValue', 'change', 'unmaskedValue', 'focus'])

const { model, hasError, error } = useFieldForm(props, emit);
const maskMeterValue = ref(null);
const width = props.widthProps ?? '130px';
let imask = ref();

const initMask = (): void => {
  const delimiter = props.delimiter ? props.delimiter : '.';
  // маска для показаний счетчиков
  const elem = maskMeterValue.value;

  if (elem) {
    imask.value = IMask(elem, {
      mask: Number,
      min: 0,
      max: !props.isPrice ? getMaxValue(props.digits, props.precision) : undefined,
      scale: props.precision,
      normalizeZeros: true,
      padFractionalZeros: true,
      radix: delimiter,  // fractional delimiter
      thousandsSeparator: props.separator ? props.separator : undefined,
      mapToRadix: ['.', ',', 'ю', 'б'],  // symbols to process as radix
      commit: (value: string): void => {
        if (props.isPrice) {
          const strNumber = parseFloat(value.replace(/\s/g, ""));
          emit('unmaskedValue', strNumber);
        }
        model.value = value;
      }
    });
  }
}
const updateMask = (): void => {
  // маска для показаний счетчиков
  const elem = maskMeterValue.value;
  if (!elem) return;
  imask.value.updateOptions({
    max: getMaxValue(props.digits, props.precision),
    scale: props.precision,
  });
}

const placeholder = computed((): string => {
  let strPlaceholder = "";
  if (!props.digits)
    return strPlaceholder

  if (props.placeholderProps) return strPlaceholder = props.placeholderProps
  for (let i = 0; i < props.digits; i++)
    strPlaceholder += "0";
  for (let i = 0; i < props.precision; i++) {
    if (!i)
      strPlaceholder += ".";
    strPlaceholder += "0";
  }
  return strPlaceholder;
});

const clear = (() => {
  model.value = '';
  updateMask();
})

onMounted(() => {
  nextTick(() => {
    initMask();
  })
});
watch(
    () => props.digits,
    () => {
      updateMask();
    },
    { deep: true }
);
watch(
    () => props.precision,
    () => {
      updateMask();
    },
    { deep: true }
);

</script>
<style lang="scss" scoped>
@import "src/assets/index.scss";

.masked_value {
  position: relative;
  width: v-bind(width);

  &.price {
    width: initial;

    .form-control {
      padding-right: 1em;

      &.is-invalid {
        padding-right: 3em;
      }
    }

    &.invalid {
      &:after {
        left: calc(100% - 3em);
      }

      .close {
        left: calc(100% - 5px);
      }
    }

    &:after {
      content: "₽";
      position: absolute;
      left: calc(100% - 1em);
      top: 0.6em;
    }
  }
}

.form-control {
  &.is-invalid  {
    background-image: none;
  }
}

.close {
  position: absolute;
  top: 8px;
  left: calc(100% - 25px);

  a {
    --tblr-btn-close-color: red;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d63939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");

    &.error {
      opacity: 1;
    }
  }
}

.form-control.is-warning {
  border-color: var(--tblr-yellow);
}
</style>
