<template>
  <upload-files-field
      :files="props.files"
      :name="props.name"
      :errors="props.errors"
      :format="props.format"
      :max_value="props.max_value"
      :disabled="props.disabled"
      :is-mini="props.isMini"
      :image-size="props.imageSize"
      :images-inline="props.imagesInline"
      @sliderOpen="sliderOpen($event)"
      @onDrop="onDrop($event)"
      @delete="emit('deleteFile', $event)"
  >
    <FsLightbox
        type="image"
        :slide="slide"
        :toggler="toogler"
        :sources="sliderImages(props.files)"
    />
  </upload-files-field>
</template>
<script lang="ts" setup>
import {ref} from "vue";
import FsLightboxV3 from "fslightbox-vue/v3";
const FsLightbox = FsLightboxV3.default || FsLightboxV3;
import UploadFilesField from './UploadFilesField.vue'
import {sliderImages} from "../../composables/fileHelper";

const props = defineProps(["files", "name", "errors", "format", "max_value", 'disabled', 'isMini', 'imageSize', 'imagesInline']);
const emit = defineEmits(['saveFile', 'deleteFile']);

let toogler = ref(false);
let slide = ref(-1);

const onDrop = (acceptFiles: File[]): void => {
  if (!acceptFiles.length) return;
  acceptFiles[0].url = URL.createObjectURL(acceptFiles[0])
  emit('saveFile', acceptFiles[0]);
}

const sliderOpen = ((slideNumber: number) => {
  slide.value = Number(slideNumber) + 1;
  toogler.value = !toogler.value;
});
</script>
