<template>
  <div>
    <input
        v-model="model"
        :name="props.name"
        type="text"
        :disabled="props.disabled"
        class="form-control"
        autocomplete="off"
        :placeholder="props.placeholder"
        :class="{ 'is-invalid': hasError }"
        :required="props.required"
        ref="maskPhone"
    />
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
</template>

<script setup lang="ts">
import IMask from "imask";
import { computed, ref, watch, onMounted } from "vue";
import useFieldForm from "../../composables/useFieldForm";
const props = defineProps(["name", "modelValue", "errors", "mask", "disabled", "placeholder", "required"])
const emit = defineEmits(['update:modelValue'])

const { model, hasError, error } = useFieldForm(props, emit);
const maskPhone = ref(null);
let imask = ref();

const initMask = (): void => {
  // маска для телефона
  const elem = maskPhone.value;

  if (elem) {
    imask.value = IMask(elem, {
      mask: props.mask,
      commit: (value: string): void => {
        model.value = value;
      }
    });
  }
}

// обновились пропсы
watch(
    () => props.modelValue,
    () => {
      if (imask) {
        imask.value.value = props.modelValue;
        imask.value.updateValue();
      }
    },
    { deep: true }
);

onMounted(() => {
  initMask();
});
</script>
