<template>
  <div :class="{'has-error': hasError}">
    <select
        v-model="model"
        :name="props.name"
        :id="idModel"
        :disabled="props.disabled"
        :multiple="props.multiple"
        class="form-select"
        ref="root"
    >
      <!-- DEFAULT VALUE-->
      <slot />
      <option v-for="(item, index) in items" :key="'op_' + props.name + '_' + index" :value="item.value">
        {{ item.text }}
      </option>
    </select>
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watch, onMounted } from "vue";
import useFieldForm from "../../composables/useFieldForm";

import TomSelect from "tom-select";
import {TomOption} from "tom-select/src/types/core";
import {escape_html} from "tom-select/src/utils";
// если canAdd = true, можно добавлять пользовательские option
const props = defineProps(["name", "id", "canAdd", "modelValue", "errors", "items", "disabled", "multiple", "noInput", "map_items", "placeholder"]);
const emit = defineEmits(['update:modelValue']);
const {model, hasError, error} = useFieldForm(props, emit);
const refSelect = ref();
const idModel = computed(() => props.id !== undefined ? props.id : props.name);

let items = ref();

items.value = props.items || [];

if (props.map_items)
{
  items.value = Object.keys(props.map_items).map((key) => {
    return {
      value: key,
      text: props.map_items[key] || ""
    };
  });
}

const updateOptions = () => {
  if (refSelect.value) {
    items = props.items||[]
    refSelect.value.clearOptions();
    refSelect.value.loadCallback(items);
    refSelect.value.setValue(props.modelValue, true);
  }
}

const removeOption = ((value: string) => {
  refSelect.value.removeOption(value);
  setTimeout(() => updateOptions(), 0);
})

onMounted(() => {
  const inputInSelect = props.noInput ? {
    controlInput: undefined
  } : {};
  try{
    refSelect.value = new TomSelect(
        "#" + idModel.value,
        {
          ...{
            create: props.canAdd,
            preload: true,
            onChange:function(){
              // @ts-ignore
              this.setTextboxValue('');
              // @ts-ignore
              this.refreshOptions();
            },
            placeholder: props.placeholder ?? null,
            render: {
              no_results: function(data: {input: string}, escape: any){
                return '<div class="no-results">Нет результатов поиска для "'+escape(data.input)+'"</div>';
              },
              option_create: function(data: {input: string}, escape: any) {
                return '<div class="create">Добавить ' + escape(data.input) + '</div>';
              },
              // кастомизация для множественных селектов
              item: function (data: TomOption, escape: typeof escape_html) {
                const div = document.createElement('div');
                div.title = escape(data.url);
                div.innerText = data.text;

                if (props.multiple)
                {
                  const a = document.createElement('a');
                  a.className = 'close-btn';
                  div.append(a);
                  a.addEventListener('click', function (evt) {
                    removeOption(data.value);
                    evt.stopPropagation();
                  });
                }
                return div;
              }
            }
          }, ...inputInSelect
        }
    );
    !props.multiple && refSelect.value.on('change', () => {
      setTimeout(() => refSelect.value.control_input.blur(), 0);
    });
  }catch (e){}
});

const clearField = (selectField: TomSelect) => {
  selectField.control_input.value = ''
  updateOptions();
  selectField.clearActiveItems()
}

watch(
    () => props.items,
    () => {
      setTimeout(() => updateOptions(), 0);
    },
    {deep: true}
);

watch(
    () => props.disabled,
    () => {
      if (props.disabled)
      {
        refSelect.value.disable();
      }
      else
      {
        refSelect.value.enable();
      }
    },
    {deep: true}
);
watch(
    () => props.modelValue,
    () => {
      refSelect.value.refreshOptions(false);
      refSelect.value.setValue(props.modelValue, true);
      clearField(refSelect.value)
    },
    {deep: true}
);
const root = ref();
defineExpose({
  root
});
</script>
<style lang="scss" scoped>
.form-select-autocomplete{
  .ts-control{
    padding: 0 !important;
  }
  input{
    padding: 7px 12px !important;
  }
}
</style>
