<template>
  <div class="col-md-9 col-12">
    <div class="ts-wrapper form-select form-select-autocomplete single"
         :class="{ 'disabled locked':!formCompanyId, 'is-invalid': props.errors?.house_id }">
      <div class="ts-control">
        <input type="text"
               name="house_id"
               :disabled="!formCompanyId"
               id="refAuto"
               :value="selectedAddress"
               ref="refAuto"
               @blur="onBlur"
               @keydown.enter.prevent
               autocomplete="off"
               placeholder="Начинайте вводить или выберите из списка"/>
      </div>
    </div>
    <span v-if="props.errors?.house_id" role="alert" class="text-red">{{ props.errors.house_id[0] }}</span>
    <div class="text-muted">
      {{ flatInfo }}
    </div>
  </div>
</template>
<script setup lang="ts">
import autocomplete from "autocompleter";

const props = defineProps(["errors", "companyId", "form"]);
const emit = defineEmits(["clear", "setAddressData", "getOptions"]);
import { computed } from '@vue/reactivity';
import { nextTick, onMounted, ref, watch } from 'vue'

const selectedAddress = ref('');
const getAddress = computed(() => props.form.house?.address + (props.form.flat ? ', ' + props.form.flat.number : ''));

const flatInfo = computed(() =>
    (selectedAddress.value && props.form.entrance) ? props.form.entrance + ' подъезд ' + props.form.floor + ' этаж ' : ''
);

const formCompanyId = computed(() => props.companyId);

const refAuto = ref(null);

const onBlur = ()=>{
  if (refAuto.value.value == '')
  {
    selectedAddress.value = ''
    emit("clear", true);
  }
  else
  {
    refAuto.value.value = selectedAddress.value;
  }
}

const setAutoComplete = (async () => {
  nextTick(() => {
    selectedAddress.value = !props.form.house ? '' : props.form.house?.address + (props.form.flat ? ', ' + props.form.flat.number : '')
  })

  autocomplete({
    input: refAuto.value,
    showOnFocus: true,
    disableAutoSelect: true,
    debounceWaitMs: 500,
    className: "app-autocomplete card",
    fetch: async (term, update) => {
      emit("getOptions", term, update);
    },
    onSelect: function (item) {
      refAuto.value.value = item.label;
      selectedAddress.value = item.label;
      emit("setAddressData", item);
    },
  });
})

onMounted(() => {
  setAutoComplete();
});

// переключение адреса
watch(
    () => props.form.house?.address,
    async () => {
      setAutoComplete();
    },
    { deep: true }
);
</script>
