<template>
  <div class="position-relative">
    <span v-if="props.showClose || hasError"
      class="position-absolute close"
      role="button"
    >
      <a @click="clear"
        type="button"
        class="close_icon text-secondary"
        :class="{'text-red': hasError}"
        aria-label="clear"
      >
        <XIcon class="icon"/>
      </a>
    </span>
    <textarea
        :id="props.name"
        v-model="model"
        :name="props.name"
        :disabled="props.disabled"
        class="form-control"
        :class="{ 'is-invalid': hasError, 'resize': props.autosize }"
        ref="root"
        :rows="props.rows"
        :placeholder="props.placeholder"
        @focus="changeSize"
        @keyup="keyUp"
    />
    <input-sub-text
        :max-text="props.maxText"
        :has-error="hasError"
        :error="error"
        :input-value="model"
        @update-value="model = $event"
    />
  </div>
</template>

<script setup lang="ts">
import { nextTick, onUpdated, ref } from "vue";
import InputSubText from "../utility/InputSubText.vue";
import useFieldForm from "../../composables/useFieldForm";
import { XIcon } from 'vue-tabler-icons';

const props = defineProps([
  "name",
  "rows",
  "modelValue",
  "errors",
  "type",
  "disabled",
  "showClose",
  "placeholder",
  "maxText",
  "autosize"
]);
const emit = defineEmits(['update:modelValue', 'keyup']);
const {model, hasError, error} = useFieldForm(props, emit);
const root = ref();

const clear = (() => {
  model.value = '';
});

onUpdated((): void => {
  nextTick(() => {
    changeSize();
  });
});

const changeSize = (): void => {
  if (!props.autosize)
    return;
  root.value.style.height = root.value.scrollHeight + "px";
}

const keyUp = (): void => {
  changeSize();
  emit('keyup');
}
defineExpose({
  root
});
</script>
<style lang="scss" scoped>
.form-control {
  &.is-invalid {
    background-image: none;
  }
}

.close {
  top:0;
  right:10px;
  margin-top: 0.5pc;
}
.close_icon
{
  display: block;
}
.resize {
  resize: none;
  overflow: hidden;
}
</style>
