<template>
  <div class="images" :class="{ ' miniImages': props.isMini, ' disabled': props.disabled }">
    <div class="files position-absolute ml-3">
      <div v-for="(file, index) in props.files" :key="'file' + index"
          class="files--window position-relative"
          :class="{ ' ml-2 mr-2': !props.isMini }"
      >
        <div v-if="!props.disabled"
             @click.stop="deleteFile(file, index)"
             class="badge bg-danger badge-notification badge-pill remove_image cursor-pointer z-21"
        >
          <trash-icon class="icon"/>
        </div>
        <div class="files--border">
          <div v-if="showImage(file)" class="lightbox-img">
            <a data-fslightbox="gallery" href="#" @click.prevent="emit('sliderOpen', index)">
              <div class="img-responsive img-responsive-1x1 border"
                   :style="'background-image: url(' + getFileUrl(file) + ')'"
              />
            </a>
          </div>
          <div v-else class="dropzone">
            <div class="dz-file-preview cursor-pointer dz-preview dz-processing dz-error dz-complete z-1"
                 @click.prevent="openView(getFileUrl(file))">
              <div class="dz-image">
                <img data-dz-thumbnail="" />
              </div>
              <div class="dz-details">
                <div class="dz-size">
                  <span data-dz-size="">
                    {{ fileSizeShortener(fileSize(file)).size}} {{fileSize(file).unit}}
                  </span>
                </div>
                <div class="dz-filename">
                  <span data-dz-name="">{{ file.name ?? file.origin_name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-bind="!props.disabled ? getRootProps() : {}" class="dropzone dz-clickable">
      <input v-bind="getInputProps()" v-if="!props.disabled"/>
      <div class="dz-message" v-if="!countFiles">
        <h3 class="dropzone-msg-title fw-bold">Выберите файлы для загрузки</h3>
        <div class="dropzone-msg-desc">Допускается файл формата {{ props.format }}</div>
        <div class="dropzone-msg-desc">
          Максимальный размер файла <b>{{ maxFileSize.human }}</b>
        </div>
      </div>
    </div>
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
  </div>
  <slot />
</template>
<script setup lang="ts">
import { computed, ref } from "vue";
import {FileSize} from "../../composables/types";
import {blobToImage} from "../../composables/stringHelper";
import useFieldForm from "../../composables/useFieldForm";
import {getHumanFileSize, showImage} from "../../composables/fileHelper";

import {useDropzone} from "vue3-dropzone";

import { TrashIcon } from "vue-tabler-icons";
const props = defineProps(["files", "name", "errors", "format", "max_value", 'disabled', 'isMini', 'imageSize', 'imagesInline']);
const emit = defineEmits(['onDrop', 'delete', 'sliderOpen']);
const { hasError, error } = useFieldForm(props, emit);
const imageSize = computed(() => props.imageSize ? props.imageSize : '4.5em');

const openView = (link: string): void => {
  window.open(link);
}

const number = computed(() => {
  return parseInt(imageSize.value) + 1;
});
const countFiles = computed(() => props.files.length);
const imagesInLine = computed(() => props.imagesInline ? props.imagesInline : 6);
const countStr = computed((): string => String(countFiles.value / imagesInLine.value));

// подсчет минимальной высоты блока с учетом кол-ва файлов
const minHeight = computed(() => {
  let countImages = parseInt(countStr.value);
  let count = countFiles.value % imagesInLine.value;
  if (count > 0) {
    countImages++;
  }
  return number.value * countImages + 1 + 'em';
});

const onDrop = (acceptFiles: File[]): void => {
  emit('onDrop', acceptFiles);
}

const getFileUrl = (file: any): string => {
  if (file && !file.url) {
    const img = blobToImage(file as Blob);
    return img.src
  }
  return file.url
}

const deleteFile = (file: any, index: number): boolean => {
  if (!file) return false;
  emit('delete', { ...file, ...{ fileId: index} });
  return false;
}
const {getRootProps, getInputProps, open} = useDropzone({onDrop});

const maxFileSize = computed(() => getHumanFileSize(props.max_value));
const fileSize = (file?: { size?: number }): FileSize => getHumanFileSize(String(file?.size ?? 0))

const fileSizeShortener = (size?: FileSize): FileSize => {
  let sizeObject = Object.assign(size ?? {})
  sizeObject.size = sizeObject.size.split('.').map((sizeBlock: string) => sizeBlock.slice(0,1)).join('.')
  return sizeObject
}
</script>
<style lang="scss" scoped>
$minHeight: v-bind(minHeight);
$imageSize: v-bind(imageSize);

.images {
  position: relative;
  border: 1px dashed var(--tblr-border-color);
}

.dz-file-preview {
  z-index: 0;
}

.dz-details {
  z-index: 0;
}

.miniImages {
  .files {
    padding: 0;
    margin: 0 !important;

    &--border {
      padding: 0.5em;
    }
  }

  .dropzone {
    .dz-preview {
      .dz-size {
        font-size: 12px;
      }

      .dz-image {
        min-height: 64px;
        min-width: 64px;
        border-radius: 0;
        width: initial !important;
        height: initial !important;
      }

      .dz-details {
        line-height: 100%;
        padding: 1em 0.5em;

        .dz-filename span,
        .dz-size span {
          background-color: white;
        }
      }
    }
  }
  .dropzone .dz-preview .dz-details .dz-size {
    font-size: 12px;
  }

  .files :deep(.badge) {
    .icon {
      width: 0.7em;
      height: 0.7em;
      font-size: 1.5em;
    }

    &.badge-notification {
      margin-top: 13px;
      margin-right: 13px;
      --tblr-badge-padding-x: 5px;
    }
  }

  &.disabled {
    border: none;

    .files {
      &--border {
        padding: 0;
        padding-right: 0.5em;
        padding-bottom: 0.5em;

        .img-responsive {
          border-radius: 4px;
        }
      }
    }
  }

  .dropzone {
    &.dz-clickable {
      min-height: $minHeight;
      z-index: 15;
      position: relative !important;
    }

    // Подгоняем размеры миниатюр файлов под картинки и убираем их размер
    .dz-preview {
      .dz-image {
        width: $imageSize!important;
        height: $imageSize!important;
      }

      .dz-size {
        display: none;
      }
    }
  }

  .lightbox-img {
    min-width: $imageSize;
    min-height: $imageSize;
  }
}

.files {
  padding: 0;
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 188px;
  overflow-x: clip;
  padding-top: 5px;

  &--window {
    z-index: 20;
  }
}

.lightbox-img {
  min-width: 7em;
  min-height: 7em;
}

.z-21 {
  z-index: 21;
}

.badge-notification {
  margin-top: 10px;
  margin-right: 10px;
  --tblr-badge-padding-x: 5px;
}

.border-files {
  border: 1px dashed var(--tblr-border-color);
}

.dropzone {
  border: none;
  color: var(--tblr-muted);
  padding: 0;

  &.dz-clickable {
    height: auto;
    position: initial !important;
    min-height: 197px
  }

  .dz-preview {
    margin: 0;

    .dz-details {
      font-size: 12px;
    }

    .dz-image {
      width: 8em;
      height: 8em;
    }

    .dz-image {
      width: 7em !important;
      height: 7em !important;
    }

    .dz-details .dz-size {
      font-size: 14px;
    }
  }
}
</style>
