.btn-visibility {
    padding: 4px;
    position: absolute;
    left: calc(100% - 36px);
    top: 2px;
    border: none;
    background: none;
}

.close {
    position: absolute;
    top: 8px;
    left: calc(100% - 25px);

    &.visibleBtn {
        left: calc(100% - 50px) !important;
    }

    &.closeTop, &.calendar {
        top: 6px;
    }

    &.closeTop {
        left: calc(100% - 20px);
    }

    &.calendar {
        left: calc(100% - 10px);
    }

    a {
        background-size: contain;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d63939' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");

        &.error {
            opacity: 1;
        }
    }
}