<template>
  <div class="center flex flex-top">
    <nav class="w-20 pt-32">
      <h3><b>Компоненты:</b></h3>
      <div class="row">
        <div class="col-6">
          <div class="p-1 col-5" v-for="component in Object.values(components)" :key="component" @click="setCurrentComponent(component)">
            <p v-if="component.name === 'ConfirmModal'"
               class="cursor-pointer"
               :class="{'active': component.active}"
               data-bs-toggle="modal" data-bs-target="#modal-show"
            >
              Тестовое модальное окно
            </p>
            <p v-if="component.name === 'ExportModal'"
               class="cursor-pointer"
               :class="{'active': component.active}"
               data-bs-toggle="modal" data-bs-target="#modal-export"
            >
              Модалка экспорта
            </p>
            <h6 class="cursor-pointer" v-else :class="{'active': component.active}">
              {{ component.name }}
            </h6>
          </div>
        </div>
        <div class="col-6">
          <p>
            Текущий компонент - {{ activeComponent.name }}
          </p>
          <div class="col-8">
            <confirm-modal
                id="modal-show"
                title="Тестовое модальное окно"
                confirm-button="Продолжить"
                confirm-class="btn-primary"
                text=""
                max-width="550px"
            >
              <div>
                Тестовое модальное окно
              </div>
            </confirm-modal>
            <!-- Модалка экспорта -->
            <export-modal
                v-if="activeComponent.name === 'ExportModal'"
                :title="'Экспорт заявок'"
                :store="mainForm"
            />
            <!-- инпут с паролем-->
            <input-field
                v-if="activeComponent.name === 'InputField'"
                type="password"
                v-model="password"
                :show-pass="showPass"
                :show-close="true"
            >
              <password-visibility
                  class="btn-visibility"
                  :show-password="showPass"
                  @switchPasswordVisibility="switchVisibility"
              />
            </input-field>
            <div class="col-12">
              <text-area-field
                  v-if="activeComponent.name === 'TextAreaField'"
                  class="form-text col-12 col-md-9"
                  v-model="desc"
                  :placeholder="'Опишите содержание'"
                  name="desc"
              />
            </div>
            <select-field
                v-if="activeComponent.name === 'SelectField'"
                name="months"
                v-model="selected"
                :items="monthsFilter()"
            />
            <upload-image v-if="activeComponent.name === 'UploadImage'" />
            <SelectAddress
                v-if="activeComponent.name === 'SelectAddress'"
                :form="form"
                companyId="1"
                @getOptions="getOptions"
                @clear="onBlur"
                @setAddressData="setAddressData($event)"
            />
            <multiple-drop-file-field
                v-if="activeComponent.name === 'MultipleDropFileField'"
                :files="files"
                :name="'name'"
                :errors="{}"
                :max_value="2000000"
                format=".jpg, .png, .pdf, .docx"
                :images-inline="5"
                :is-mini="true"
                @saveFile="saveFile($event)"
                @deleteFile="deleteFile($event)"
            />
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>
<script setup lang="ts">
import {Tooltip as VTooltip} from 'bootstrap';
import { computed, reactive, ref } from "vue";
import {mainForm} from "/src/composables/stringHelper";
import {monthsFilter} from "/src/composables/dateHelper";
import {deleteFiles} from "/src/composables/fileHelper";
import PasswordVisibility from "./components/utility/PasswordVisibility.vue";
import MultipleDropFileField from "./components/all/MultipleDropFileField.vue";

import {InputField, SelectField, ConfirmModal, SelectAddress, UploadImage, ExportModal, TextAreaField} from './components/all'
import {FileResourceEdit} from "./composables/types";

const selected = ref(undefined);
let phone = ref('');
let password = ref('');
let desc = ref('');
const file = ref();

let files = ref<Array<FileResourceEdit | Blob>>([]);
let attachFiles = ref<Array<FileResourceEdit | Blob>>([]);
let destroyFiles = ref<number[]>([]);

const showPass = ref(false)
const switchVisibility = () => {
  showPass.value = !showPass.value;
};

let form = reactive({
  company_id: 1,
  house: {
    address: 'Город Улица  дом 1/1'
  },
  flat: {
    number: 'кв 1'
  },
  entrance: 1,
  floor: 1,
  house_id: 1,
  flat_id: 1,
});

const saveFile = (acceptFile: File): void => {
  if (!acceptFile)
    return;
  files.value.push(acceptFile);
  attachFiles.value.push(acceptFile);
}

const deleteFile = (acceptFile: FileResourceEdit): void => {
  if (!acceptFile)
    return;

  const {fileList, addFiles, removeFiles} = deleteFiles(acceptFile, files.value, attachFiles.value, destroyFiles.value);
  files.value = fileList;
  attachFiles.value = addFiles;
  destroyFiles.value = removeFiles;
}

const getOptions = async (term, update) => {
  console.log(
    '  const res = await useApi().getFlatsWithHouses(term, companyId);\n' +
    '  update(res.data);'
  )
}

const onBlur = () => {
  form.house_id = undefined;
  form.flat_id = undefined;
  form.floor = undefined;
  form.entrance = undefined;
}

const setAddressData = ((data?: AppealRequest) => {
  form.house_id = data?.house_id || undefined;
  form.flat_id = data?.flat_id || undefined;
  form.floor = data?.floor || undefined;
  form.entrance = data?.entrance || undefined;
});

let currentComponent = ((name: string) => components.find(c => c.name === name)) ;
const activeComponent = computed(() => components.find(c => !!c.active) as any);

const components = reactive([
  {
    name: 'SelectField',
    active: true
  },
  {
    name: 'ConfirmModal',
    active: false
  },
  {
    name: 'InputField',
    active: false
  },
  {
    name: 'TextAreaField',
    active: false
  },
  {
    name: 'UploadImage',
    active: false
  },
  {
    name: 'SelectAddress',
    active: false
  },
  {
    name: 'ExportModal',
    active: false
  },
  {
    name: 'MultipleDropFileField',
    active: false
  }
]);

const clearComponents = (() => {
  components.map(component => {
    component.active = false;
  })
})

const setCurrentComponent = ((component: { name: string }) => {
  clearComponents();

  let component_ = currentComponent(component.name)
  if (component_)
    component_.active = true;
});
</script>
<style lang="css">
.active {
  color: #0a66c2;
}

h3 {
  cursor: pointer;
}
</style>
