<template>
  <div class="d-flex form-text">
    <span role="alert" class="text-red" v-if="hasError">
      {{ error }}
    </span>
    <span class="ml-auto">
      {{ textLength }}
    </span>
  </div>
</template>

<script setup lang="ts">
import {stringEndingByNum} from "/src/composables/stringHelper";
import {computed, watch} from "vue";

const props = defineProps({
  error: {
    type: String
  },
  hasError: {
    type: Boolean
  },
  inputValue: {
    type: String
  },
  maxText: {
    type: Number,
    default: 255
  }
})
const emit = defineEmits(["updateValue"]);

const wordsCount = computed(() => props.inputValue?.length ?? 0);

const words = computed(() => props.maxText - wordsCount.value);

const textLength = computed(() => {
  const leftText = 'Остал' + stringEndingByNum(words.value, ['ся', 'ось', 'ось']);
  return leftText + ' ' + words.value + ' знак' + stringEndingByNum(words.value, ['', 'а', 'ов']);
});

watch(
    () => props.inputValue, (newValue, oldValue) => {
      if (!props.maxText)
        return;
      if (words.value < 0) {
        // Отменяем ввод
        emit('updateValue', oldValue)
      }
    }
);
</script>
<style lang="scss" scoped />